* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img-background {
  background-image: url("images/apple_pie.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.perro {
  color: red;
  background-color: blue;
  padding: 30px;
}
